HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Monitoring ###
*.log
*.gz
monitoring/var/log/**

### Docker-volumes 
database/DbVolume/

### macOS ###
*.DS_Store


#### terraform ####
terraform/*.lock.hcl
terraform/.terraform
terraform/.tfvars
terraform/*.tfstate
terraform/*.tfstate.json
terraform/crash.log
terraform/  crash.*.log

### helm ###
helm/charts/**/Chart.lock
helm/charts/**/*.tgz
